.images-cinema {
    margin-left: auto;
    margin-right: auto;
    
    display: block;
    width: 100%;

    @media screen and(min-width: 480px) {
        width: 440px;
    }

    @media screen and(min-width: 768px) {
        width: 704px;
    }

    @media screen and(min-width: 1280px) {
        width: 1216px;
    }
}

.p-library {
    color: var(--secondary-white-text-color);
    padding:10px;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    background-color: var(--primary-text-color);
    
    @media screen and(min-width: 768px) {
        font-size: 22px;
    }
    @media screen and(min-width: 1280px) {
        min-width: 1216px;
        font-size: 28px;
    }

        opacity: 1;
        animation-name: emptycinema;
        animation-duration: 500ms;
        animation-iteration-count: infinite;

}

@keyframes emptycinema {
    0% {
        text-shadow: 0 0 10px rgba(255, 107, 8, 1),
                    0 0 20px rgba(255, 107, 8, 1),
                    0 0 40px rgba(255, 107, 8, 1),
                    0 0 80px rgba(255, 107, 8, 1),

    }

    97% {
        text-shadow: 0 0 10px rgba(255, 107, 8, 1),
                    0 0 20px rgba(255, 107, 8, 1),
                    0 0 40px rgba(255, 107, 8, 1),
                    0 0 80px rgba(255, 107, 8, 1),

    }

}