
.flex{
    display: flex;
    padding: 0;
    align-items: baseline;
    }

.films_list__title{
    display: none;
}

.films_list{
    flex-wrap: wrap;
    box-sizing: border-box;
    margin: 0;
}



.film_card{
    width: 100%;
    margin-bottom: 20px;
    border-radius: 10px;
}

.film_card__img{
    margin-bottom: 5px;
    width: 100%;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.film_card__img--block{
    display: block;
    width: 100%;
}

.film_card__box {
    padding: 7px;
}

.film_card__title{
    text-transform: uppercase;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 8px;
}

.film_card__type{
font-weight: 500;
font-size: 12px;
line-height: 14px;
color: var(--accent-color);
}

.film_card__rating{
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: var(--accent-color);
    }




@media screen and (min-width: 768px){
    .film_card{
        width: calc((100% - 32px)/2);
        margin-right: 32px;
    }

    .film_card{
        margin-bottom: 32px;
    }

    .film_card__img{
        margin-bottom: 8px;
    }

    .film_card__title{
        line-height: 16px;
    }

    .film_card__type{
        line-height: 16px;
        }
    
}

@media screen and (min-width: 768px) and (max-width: 1279px){
    .film_card:nth-child(2n){
        margin-right: 0;
    }
}

@media screen and (min-width: 1280px){
    
    .film_card{
        width: calc((100% - 32px)/3);
        margin-right: 16px;
    }
    .film_card:nth-child(3n){
        margin-right: 0;
    }

    .film_card__img{
        margin-bottom: 12px;
    }

    .film_card__title{
        font-size: 20px;
        line-height: 24px;
    }

    .film_card__type{
        font-size: 20px;
        line-height: 24px;
    }
}

// добавив деякі єфффекти на карточку при ховері та фокусу 

.film_card {
    transition: 800ms;

}

.film_card:hover {

    transform: scale(1.05);
    box-shadow: 2px 0px 86px -2px rgba(255, 107, 8, 0.43);
    -webkit-box-shadow: 2px -1px 86px -2px rgba(255, 107, 8, 0.43);
    -moz-box-shadow: 2px -1px 86px -2px rgba(255, 107, 8, 0.43);

    .film_card__title{
        animation-name: cardimage;
        animation-duration: 500ms;
        animation-iteration-count: infinite;
    }
}

@keyframes cardimage {
    0% {
        opacity: 0.5;
        text-shadow: 0 0 10px rgba(255, 107, 8, 1),
                0 0 20px rgba(255, 107, 8, 1), 
                0 0 40px rgba(255, 107, 8, 1),
                0 0 80px rgba(255, 107, 8, 1), 
                0 0 160px rgba(255, 107, 8, 1), 
    }

    97% {
        opacity: 1;
        text-shadow: 0 0 10px rgba(255, 107, 8, 1),
                0 0 20px rgba(255, 107, 8, 1),
                0 0 40px rgba(255, 107, 8, 1),
                0 0 80px rgba(255, 107, 8, 1),
                0 0 160px rgba(255, 107, 8, 1),
    }
}
