.pagination-nav {
    display: flex;
    justify-content: center;
}

.current-page {
    background-color: red;
}

.pagination-nav_button {
    margin-left: 7px;

    &:first-child {
        margin-left: 0;
    }
}

.dots {
    margin-left: 7px;
}