.container_pagination{
    padding-top: 40px;
    padding-bottom: 40px;

    @media screen and (min-width: 768px) {
        padding-top: 60px;
        padding-bottom: 60px;
        }
}


.pagination-nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.current-page {
    background-color: var(--accent-color);
    border-radius: 5px;
    color: var(--secondary-white-text-color);
}

.pagination-nav_button {
    font-style: inherit;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    border-width: 0px;
    border-radius: 5px;
    width: 40px;
    height: 40px;

    &:first-child {
        margin-left: 0;
    }

    &:disabled {
        display: none;
    }

    @media (min-width: 768px) {
        margin-left: 4px;
	}
}

.pagination-nav_arrow {
    width: 16px;
    height: 16px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.dots {
    font-style: inherit;
    font-size: 12px;
    line-height: 1.33;
    padding-bottom: 5px;
}