<main>

  <h2 class="films_list__title">TOP Films</h2>
  <div class="container">
    <div class="toggle__container">
      <div class="toggle__box">
        <label id="switch" class="switch">
          <input type="checkbox" id="slider" />
          <span class="slider round"></span>
        </label>
        <!-- <button id="switch" onclick="toggleTheme()">Switch</button> -->
      </div>
      <!-- добави свй клас  container-library щоб працювала логика при наажті на кнопку Mylibrary-->
      <ul class="films_list list flex container-library">
        <li class="film_card">
          <div class="film_card__img">
            <picture>
              <source
                srcset="
                  ./img/GREYHOUND_320.jpg    1x,
                  ./img/GREYHOUND_320_2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <source
                srcset="
                  ./img/GREYHOUND_768.jpg    1x,
                  ./img/GREYHOUND_768_2x.jpg 2x
                "
                media="(max-width: 1199px)"
              />
              <source
                srcset="
                  ./img/GREYHOUND_1280.jpg    1x,
                  ./img/GREYHOUND_1280_2x.jpg 2x
                "
                media="(min-width: 1200px)"
              />
              <img
                class="film_card__img--block"
                src="./img/GREYHOUND_1280.jpg"
                alt="GREYHOUND"
              />
            </picture>
          </div>
          <h3 class="film_card__title">GREYHOUND</h3>
          <p class="film_card__type">Drama, Action | 2020</p>
        </li>

        <li class="film_card">
          <div class="film_card__img">
            <picture>
              <source
                srcset="
                  ./img/GREYHOUND_320.jpg    1x,
                  ./img/GREYHOUND_320_2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <source
                srcset="
                  ./img/GREYHOUND_768.jpg    1x,
                  ./img/GREYHOUND_768_2x.jpg 2x
                "
                media="(max-width: 1199px)"
              />
              <source
                srcset="
                  ./img/GREYHOUND_1280.jpg    1x,
                  ./img/GREYHOUND_1280_2x.jpg 2x
                "
                media="(min-width: 1200px)"
              />
              <img
                class="film_card__img--block"
                src="./img/GREYHOUND_1280.jpg"
                alt="GREYHOUND"
              />
            </picture>
          </div>
          <h3 class="film_card__title">GREYHOUND</h3>
          <p class="film_card__type">Drama, Action | 2020</p>
        </li>

        <li class="film_card">
          <div class="film_card__img">
            <picture>
              <source
                srcset="
                  ./img/GREYHOUND_320.jpg    1x,
                  ./img/GREYHOUND_320_2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <source
                srcset="
                  ./img/GREYHOUND_768.jpg    1x,
                  ./img/GREYHOUND_768_2x.jpg 2x
                "
                media="(max-width: 1199px)"
              />
              <source
                srcset="
                  ./img/GREYHOUND_1280.jpg    1x,
                  ./img/GREYHOUND_1280_2x.jpg 2x
                "
                media="(min-width: 1200px)"
              />
              <img
                class="film_card__img--block"
                src="./img/GREYHOUND_1280.jpg"
                alt="GREYHOUND"
              />
            </picture>
          </div>
          <h3 class="film_card__title">GREYHOUND</h3>
          <p class="film_card__type">Drama, Action | 2020</p>
        </li>

        <li class="film_card">
          <div class="film_card__img">
            <picture>
              <source
                srcset="
                  ./img/GREYHOUND_320.jpg    1x,
                  ./img/GREYHOUND_320_2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <source
                srcset="
                  ./img/GREYHOUND_768.jpg    1x,
                  ./img/GREYHOUND_768_2x.jpg 2x
                "
                media="(max-width: 1199px)"
              />
              <source
                srcset="
                  ./img/GREYHOUND_1280.jpg    1x,
                  ./img/GREYHOUND_1280_2x.jpg 2x
                "
                media="(min-width: 1200px)"
              />
              <img
                class="film_card__img--block"
                src="./img/GREYHOUND_1280.jpg"
                alt="GREYHOUND"
              />
            </picture>
          </div>
          <h3 class="film_card__title">GREYHOUND</h3>
          <p class="film_card__type">Drama, Action | 2020</p>
        </li>

        <li class="film_card">
          <div class="film_card__img">
            <picture>
              <source
                srcset="
                  ./img/GREYHOUND_320.jpg    1x,
                  ./img/GREYHOUND_320_2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <source
                srcset="
                  ./img/GREYHOUND_768.jpg    1x,
                  ./img/GREYHOUND_768_2x.jpg 2x
                "
                media="(max-width: 1199px)"
              />
              <source
                srcset="
                  ./img/GREYHOUND_1280.jpg    1x,
                  ./img/GREYHOUND_1280_2x.jpg 2x
                "
                media="(min-width: 1200px)"
              />
              <img
                class="film_card__img--block"
                src="./img/GREYHOUND_1280.jpg"
                alt="GREYHOUND"
              />
            </picture>
          </div>
          <h3 class="film_card__title">GREYHOUND</h3>
          <p class="film_card__type">Drama, Action | 2020</p>
        </li>

        <li class="film_card">
          <div class="film_card__img">
            <picture>
              <source
                srcset="
                  ./img/GREYHOUND_320.jpg    1x,
                  ./img/GREYHOUND_320_2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <source
                srcset="
                  ./img/GREYHOUND_768.jpg    1x,
                  ./img/GREYHOUND_768_2x.jpg 2x
                "
                media="(max-width: 1199px)"
              />
              <source
                srcset="
                  ./img/GREYHOUND_1280.jpg    1x,
                  ./img/GREYHOUND_1280_2x.jpg 2x
                "
                media="(min-width: 1200px)"
              />
              <img
                class="film_card__img--block"
                src="./img/GREYHOUND_1280.jpg"
                alt="GREYHOUND"
              />
            </picture>
          </div>
          <h3 class="film_card__title">GREYHOUND</h3>
          <p class="film_card__type">Drama, Action | 2020</p>
        </li>

        <li class="film_card">
          <div class="film_card__img">
            <picture>
              <source
                srcset="
                  ./img/GREYHOUND_320.jpg    1x,
                  ./img/GREYHOUND_320_2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <source
                srcset="
                  ./img/GREYHOUND_768.jpg    1x,
                  ./img/GREYHOUND_768_2x.jpg 2x
                "
                media="(max-width: 1199px)"
              />
              <source
                srcset="
                  ./img/GREYHOUND_1280.jpg    1x,
                  ./img/GREYHOUND_1280_2x.jpg 2x
                "
                media="(min-width: 1200px)"
              />
              <img
                class="film_card__img--block"
                src="./img/GREYHOUND_1280.jpg"
                alt="GREYHOUND"
              />
            </picture>
          </div>
          <h3 class="film_card__title">GREYHOUND</h3>
          <p class="film_card__type">Drama, Action | 2020</p>
        </li>

        <li class="film_card">
          <div class="film_card__img">
            <picture>
              <source
                srcset="
                  ./img/GREYHOUND_320.jpg    1x,
                  ./img/GREYHOUND_320_2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <source
                srcset="
                  ./img/GREYHOUND_768.jpg    1x,
                  ./img/GREYHOUND_768_2x.jpg 2x
                "
                media="(max-width: 1199px)"
              />
              <source
                srcset="
                  ./img/GREYHOUND_1280.jpg    1x,
                  ./img/GREYHOUND_1280_2x.jpg 2x
                "
                media="(min-width: 1200px)"
              />
              <img
                class="film_card__img--block"
                src="./img/GREYHOUND_1280.jpg"
                alt="GREYHOUND"
              />
            </picture>
          </div>
          <h3 class="film_card__title">GREYHOUND</h3>
          <p class="film_card__type">Drama, Action | 2020</p>
        </li>

        <li class="film_card">
          <div class="film_card__img">
            <picture>
              <source
                srcset="
                  ./img/GREYHOUND_320.jpg    1x,
                  ./img/GREYHOUND_320_2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <source
                srcset="
                  ./img/GREYHOUND_768.jpg    1x,
                  ./img/GREYHOUND_768_2x.jpg 2x
                "
                media="(max-width: 1199px)"
              />
              <source
                srcset="
                  ./img/GREYHOUND_1280.jpg    1x,
                  ./img/GREYHOUND_1280_2x.jpg 2x
                "
                media="(min-width: 1200px)"
              />
              <img
                class="film_card__img--block"
                src="./img/GREYHOUND_1280.jpg"
                alt="GREYHOUND"
              />
            </picture>
          </div>
          <h3 class="film_card__title">GREYHOUND</h3>
          <p class="film_card__type">Drama, Action | 2020</p>
        </li>

        <li class="film_card">
          <div class="film_card__img">
            <picture>
              <source
                srcset="
                  ./img/GREYHOUND_320.jpg    1x,
                  ./img/GREYHOUND_320_2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <source
                srcset="
                  ./img/GREYHOUND_768.jpg    1x,
                  ./img/GREYHOUND_768_2x.jpg 2x
                "
                media="(max-width: 1199px)"
              />
              <source
                srcset="
                  ./img/GREYHOUND_1280.jpg    1x,
                  ./img/GREYHOUND_1280_2x.jpg 2x
                "
                media="(min-width: 1200px)"
              />
              <img
                class="film_card__img--block"
                src="./img/GREYHOUND_1280.jpg"
                alt="GREYHOUND"
              />
            </picture>
          </div>
          <h3 class="film_card__title">GREYHOUND</h3>
          <p class="film_card__type">Drama, Action | 2020</p>
        </li>

        <li class="film_card">
          <div class="film_card__img">
            <picture>
              <source
                srcset="
                  ./img/GREYHOUND_320.jpg    1x,
                  ./img/GREYHOUND_320_2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <source
                srcset="
                  ./img/GREYHOUND_768.jpg    1x,
                  ./img/GREYHOUND_768_2x.jpg 2x
                "
                media="(max-width: 1199px)"
              />
              <source
                srcset="
                  ./img/GREYHOUND_1280.jpg    1x,
                  ./img/GREYHOUND_1280_2x.jpg 2x
                "
                media="(min-width: 1200px)"
              />
              <img
                class="film_card__img--block"
                src="./img/GREYHOUND_1280.jpg"
                alt="GREYHOUND"
              />
            </picture>
          </div>
          <h3 class="film_card__title">GREYHOUND</h3>
          <p class="film_card__type">Drama, Action | 2020</p>
        </li>

        <li class="film_card">
          <div class="film_card__img">
            <picture>
              <source
                srcset="
                  ./img/GREYHOUND_320.jpg    1x,
                  ./img/GREYHOUND_320_2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <source
                srcset="
                  ./img/GREYHOUND_768.jpg    1x,
                  ./img/GREYHOUND_768_2x.jpg 2x
                "
                media="(max-width: 1199px)"
              />
              <source
                srcset="
                  ./img/GREYHOUND_1280.jpg    1x,
                  ./img/GREYHOUND_1280_2x.jpg 2x
                "
                media="(min-width: 1200px)"
              />
              <img
                class="film_card__img--block"
                src="./img/GREYHOUND_1280.jpg"
                alt="GREYHOUND"
              />
            </picture>
          </div>
          <h3 class="film_card__title">GREYHOUND</h3>
          <p class="film_card__type">Drama, Action | 2020</p>
        </li>

        <li class="film_card">
          <div class="film_card__img">
            <picture>
              <source
                srcset="
                  ./img/GREYHOUND_320.jpg    1x,
                  ./img/GREYHOUND_320_2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <source
                srcset="
                  ./img/GREYHOUND_768.jpg    1x,
                  ./img/GREYHOUND_768_2x.jpg 2x
                "
                media="(max-width: 1199px)"
              />
              <source
                srcset="
                  ./img/GREYHOUND_1280.jpg    1x,
                  ./img/GREYHOUND_1280_2x.jpg 2x
                "
                media="(min-width: 1200px)"
              />
              <img
                class="film_card__img--block"
                src="./img/GREYHOUND_1280.jpg"
                alt="GREYHOUND"
              />
            </picture>
          </div>
          <h3 class="film_card__title">GREYHOUND</h3>
          <p class="film_card__type">Drama, Action | 2020</p>
        </li>

        <li class="film_card">
          <div class="film_card__img">
            <picture>
              <source
                srcset="
                  ./img/GREYHOUND_320.jpg    1x,
                  ./img/GREYHOUND_320_2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <source
                srcset="
                  ./img/GREYHOUND_768.jpg    1x,
                  ./img/GREYHOUND_768_2x.jpg 2x
                "
                media="(max-width: 1199px)"
              />
              <source
                srcset="
                  ./img/GREYHOUND_1280.jpg    1x,
                  ./img/GREYHOUND_1280_2x.jpg 2x
                "
                media="(min-width: 1200px)"
              />
              <img
                class="film_card__img--block"
                src="./img/GREYHOUND_1280.jpg"
                alt="GREYHOUND"
              />
            </picture>
          </div>
          <h3 class="film_card__title">GREYHOUND</h3>
          <p class="film_card__type">Drama, Action | 2020</p>
        </li>

        <li class="film_card">
          <div class="film_card__img">
            <picture>
              <source
                srcset="
                  ./img/GREYHOUND_320.jpg    1x,
                  ./img/GREYHOUND_320_2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <source
                srcset="
                  ./img/GREYHOUND_768.jpg    1x,
                  ./img/GREYHOUND_768_2x.jpg 2x
                "
                media="(max-width: 1199px)"
              />
              <source
                srcset="
                  ./img/GREYHOUND_1280.jpg    1x,
                  ./img/GREYHOUND_1280_2x.jpg 2x
                "
                media="(min-width: 1200px)"
              />
              <img
                class="film_card__img--block"
                src="./img/GREYHOUND_1280.jpg"
                alt="GREYHOUND"
              />
            </picture>
          </div>
          <h3 class="film_card__title">GREYHOUND</h3>
          <p class="film_card__type">Drama, Action | 2020</p>
        </li>

        <li class="film_card">
          <div class="film_card__img">
            <picture>
              <source
                srcset="
                  ./img/GREYHOUND_320.jpg    1x,
                  ./img/GREYHOUND_320_2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <source
                srcset="
                  ./img/GREYHOUND_768.jpg    1x,
                  ./img/GREYHOUND_768_2x.jpg 2x
                "
                media="(max-width: 1199px)"
              />
              <source
                srcset="
                  ./img/GREYHOUND_1280.jpg    1x,
                  ./img/GREYHOUND_1280_2x.jpg 2x
                "
                media="(min-width: 1200px)"
              />
              <img
                class="film_card__img--block"
                src="./img/GREYHOUND_1280.jpg"
                alt="GREYHOUND"
              />
            </picture>
          </div>
          <h3 class="film_card__title">GREYHOUND</h3>
          <p class="film_card__type">Drama, Action | 2020</p>
        </li>

        <li class="film_card">
          <div class="film_card__img">
            <picture>
              <source
                srcset="
                  ./img/GREYHOUND_320.jpg    1x,
                  ./img/GREYHOUND_320_2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <source
                srcset="
                  ./img/GREYHOUND_768.jpg    1x,
                  ./img/GREYHOUND_768_2x.jpg 2x
                "
                media="(max-width: 1199px)"
              />
              <source
                srcset="
                  ./img/GREYHOUND_1280.jpg    1x,
                  ./img/GREYHOUND_1280_2x.jpg 2x
                "
                media="(min-width: 1200px)"
              />
              <img
                class="film_card__img--block"
                src="./img/GREYHOUND_1280.jpg"
                alt="GREYHOUND"
              />
            </picture>
          </div>
          <h3 class="film_card__title">GREYHOUND</h3>
          <p class="film_card__type">Drama, Action | 2020</p>
        </li>

        <li class="film_card">
          <div class="film_card__img">
            <picture>
              <source
                srcset="
                  ./img/GREYHOUND_320.jpg    1x,
                  ./img/GREYHOUND_320_2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <source
                srcset="
                  ./img/GREYHOUND_768.jpg    1x,
                  ./img/GREYHOUND_768_2x.jpg 2x
                "
                media="(max-width: 1199px)"
              />
              <source
                srcset="
                  ./img/GREYHOUND_1280.jpg    1x,
                  ./img/GREYHOUND_1280_2x.jpg 2x
                "
                media="(min-width: 1200px)"
              />
              <img
                class="film_card__img--block"
                src="./img/GREYHOUND_1280.jpg"
                alt="GREYHOUND"
              />
            </picture>
          </div>
          <h3 class="film_card__title">GREYHOUND</h3>
          <p class="film_card__type">Drama, Action | 2020</p>
        </li>

        <li class="film_card">
          <div class="film_card__img">
            <picture>
              <source
                srcset="
                  ./img/GREYHOUND_320.jpg    1x,
                  ./img/GREYHOUND_320_2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <source
                srcset="
                  ./img/GREYHOUND_768.jpg    1x,
                  ./img/GREYHOUND_768_2x.jpg 2x
                "
                media="(max-width: 1199px)"
              />
              <source
                srcset="
                  ./img/GREYHOUND_1280.jpg    1x,
                  ./img/GREYHOUND_1280_2x.jpg 2x
                "
                media="(min-width: 1200px)"
              />
              <img
                class="film_card__img--block"
                src="./img/GREYHOUND_1280.jpg"
                alt="GREYHOUND"
              />
            </picture>
          </div>
          <h3 class="film_card__title">GREYHOUND</h3>
          <p class="film_card__type">Drama, Action | 2020</p>
        </li>

        <li class="film_card">
          <div class="film_card__img">
            <picture>
              <source
                srcset="
                  ./img/GREYHOUND_320.jpg    1x,
                  ./img/GREYHOUND_320_2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <source
                srcset="
                  ./img/GREYHOUND_768.jpg    1x,
                  ./img/GREYHOUND_768_2x.jpg 2x
                "
                media="(max-width: 1199px)"
              />
              <source
                srcset="
                  ./img/GREYHOUND_1280.jpg    1x,
                  ./img/GREYHOUND_1280_2x.jpg 2x
                "
                media="(min-width: 1200px)"
              />
              <img
                class="film_card__img--block"
                src="./img/GREYHOUND_1280.jpg"
                alt="GREYHOUND"
              />
            </picture>
          </div>
          <h3 class="film_card__title">GREYHOUND</h3>
          <p class="film_card__type">Drama, Action | 2020</p>
        </li>

        <li class="film_card">
          <div class="film_card__img">
            <picture>
              <source
                srcset="
                  ./img/GREYHOUND_320.jpg    1x,
                  ./img/GREYHOUND_320_2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <source
                srcset="
                  ./img/GREYHOUND_768.jpg    1x,
                  ./img/GREYHOUND_768_2x.jpg 2x
                "
                media="(max-width: 1199px)"
              />
              <source
                srcset="
                  ./img/GREYHOUND_1280.jpg    1x,
                  ./img/GREYHOUND_1280_2x.jpg 2x
                "
                media="(min-width: 1200px)"
              />
              <img
                class="film_card__img--block"
                src="./img/GREYHOUND_1280.jpg"
                alt="GREYHOUND"
              />
            </picture>
          </div>
          <h3 class="film_card__title">GREYHOUND</h3>
          <p class="film_card__type">Drama, Action | 2020</p>
        </li>
      </ul>
      
    </div>
  </div>
</main>