<main>
  <h2 class="films_list__title">TOP Films</h2>
  <div class="container">
    <div class="toggle__container">
      <div class="toggle__box">
        <label id="switch" class="switch">
          <input type="checkbox" id="slider" />
          <span class="slider round"></span>
        </label>
        <!-- <button id="switch" onclick="toggleTheme()">Switch</button> -->
      </div>
      <div id="up-to-top">
        <span><img src="https://i.ibb.co/5krn9rB/arrow-up.png" alt="" /></span>
      </div>
      <!-- добави свй клас  container-library щоб працювала логика при наажті на кнопку Mylibrary-->
      <ul class="films_list list flex container-library"></ul>
    </div>
  </div>
</main>
