<div class="backdrop is-hidden" data-modal>
    <div class="modal">
        <button class="modal__btn" data-modal-close>
            <svg class="form__icon--close" width="30" height="30">
                <use href="/src/images/icons.svg#close-cross"></use>
            </svg>
        </button>

        <div class="team">
            <h2 class="team__title"> Our team </h2>
            <ul class="team__list list">
                <li class="team__item">
                    <p>Name</p>
                    <p>Position</p>
                </li>
            </ul>
        </div>
    </div>
  </div>