<div class="modal-backdrop is-hidden">
    <div class="modal-window">
        <button type="button" class="modal-window__close-btn">
            <svg class="modal-window__close-icon" width="30" height="30" viewBox="0 0 30 30" fill="none">
                <path d="M8 8L22 22" stroke="black" stroke-width="2" />
                <path d="M8 22L22 8" stroke="black" stroke-width="2" />
            </svg>
        </button>
        <div class="modal-window__container">
            <img class="modal-window__image" src="/src/images/Rectangle-18.jpg" alt="">
            <div class="modal-window__wraper">
                <h2 class="modal-window__title">A FISTFUL OF LEAD</h2>
                <div class="modal-window__list-wraper">
                    <ul class="modal-window__parameter-list list">
                        <li class="modal-window__parameter-item">Vote / Votes</li>
                        <li class="modal-window__parameter-item">Popularity</li>
                        <li class="modal-window__parameter-item">Original Title</li>
                        <li class="modal-window__parameter-item">Genre</li>
                    </ul>
                    <ul class="modal-window__value-list list">
                        <li class="modal-window__value-item">
                            <span class="modal-window__rating">7.3</span>/<span class="modal-window__amount">1260</span>
                        </li>
                        <li class="modal-window__popularity">100.2</li>
                        <li class="modal-window__original-title">A FISTFUL OF LEAD</li>
                        <li class="modal-window__genre">Western</li>
                    </ul>
                </div>
                <h3 class="modal-window__info-header">About</h3>
                <p class="modal-window__info-text">
                    Four of the West’s most infamous outlaws assemble to steal a huge stash of gold from the most corrupt settlement of the
                    gold rush towns. But not all goes to plan one is killed and the other three escapes with bags of gold hide out in the
                    abandoned gold mine where they happen across another gang of three – who themselves were planning to hit the very same
                    bank! As tensions rise, things go from bad to worse as they realise the bags of gold are filled with lead... they’ve
                    been double crossed – but by who and how?
                </p>
                <button class="modal-window__button-watched">add to Watched</button>
                <button class="modal-window__button-queue">add to queue</button>
            </div>
        </div>
    </div>
</div>
