<div class="preloader">
    <div class="loader">
        <img class="loader__img" src="./images/loader2.svg" />
    </div>
</div>







<!-- <div id="preloader" class="preloader">
    <div class="preloader_loader">
        <div class="loadingio-spinner-rolling-vgprult6ox">
            <div class="ldio-73pndmxd8dj">
                <div></div>
            </div>
        </div>
        <span class="preloader_persent">
            <span id="persents">0</span>%
        </span>
    </div>
</div> -->
