<form action="#" class="submit-search" id="search-query" autocomplete="off">
  <div class="input-container">
    <input
      name="query"
      class="input-search"
      type="text"
      placeholder="Movie search"
      autocomplete="off"
    />
    <button type="submit">
      <svg class="icon-search">
        <use href="./images/symbol-defs.svg#icon-search"></use>
      </svg>
    </button>
  </div>
  <div class="header-search__container unvisible">
    <button class="library-button library-first">WATCHED</button>
    <button class="library-button library-second">QUEUE</button>
  </div>
</form>
